.table-container {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container table {
  width: 80%;
  border-collapse: collapse;
}

.table-container th {
  background-color: rgb(113, 113, 236);
  color: white;
  padding: 10px;
  text-align: left;
}



.table-container td{
    padding: 10px;
    text-align: left;
}

.pagination {
    margin-top: 20px;
}

.pagination button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}