.container{
    background-color: white;
    border: 2px solid rgb(255,255,255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: auto; /* Center the container */
    margin-top: 5rem;
    box-shadow:  0 8px 8px 0 rgba(73, 73, 73, 0.1);
}


.login-form input{
    margin: 20px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button{
    padding: 10px;
    margin: 20px;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(113, 113, 236);
    text-align: center;
}